# Telegram bot tokeni (@BotFather dan olinadi)
BOT_TOKEN=8500958257:AAEIAlh4xO7oohj9uIn6fjStkAAL8AV6LbQxO7oohj9uIn6fjStkAAL8AV6LbQ

# Guruh chat ID (manfiy bo'ladi, masalan: -1001234567890)
GROUP_CHAT_ID=your_group_chat_id_here

# Har kuni qaysi vaqtda yuborsin (24-soatlik format)
SEND_TIME=08:00

# Vaqt zonasi
TIMEZONE=Asia/Tashkent
